/********************/
/*** My Settings ***/
/********************/
// @ant-prefix : domino;
@layout-header-background: white;
@bg-color : #FDFDFE;
@family: 'Montserrat', @font-family;
@base-color: #6A6D74 !important;
@primary-color: #6a11cb;
@space: 24px;